body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none
}

label {
  display: block;
}

.navBar-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 0px 0px;
}

nav a {
  margin: 1em;
  padding: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#about div {
  display: flex;
  justify-content: center;
}

.home-title {
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 3px black; 
}

.home-subtitle {
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 3px black; 
}

#homepage-text {
  text-align: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
}

.homepage {
  max-height: 500px;
  max-width: 100%;
}

.riceIMG {
  height: 350px;
  width: 400px;
  padding: 10px;
}

#product {
  padding: 30px;
}

.allProducts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 10px;
}

.cart-item {
  margin: 0 0 10px;
}

.singleProduct-page {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1200px;
  padding: 30px;
}

.content {
  /* flex: 1; */
  width: 50em;
  padding: 30px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 10px;
}

.formInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}