body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#title {
  display: flex
}

.riceIMG {
  height: 350px;
  width: 400px;
}

.cart-item {
  margin: 0 0 10px;
}
